.heading {
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c1b1b;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.card-body > p {
    margin: 0;
    text-align: center;
}
.productName{
    font-size: inherit;
}
.price {
    font-size: 12px;
    color: #6a6a6a;
}
.productImage {
    width : 100%;
    height :100%;
    object-fit:cover;
}
.card {
    border: none;
    cursor: pointer;
}
div.card:hover {
    border: 1px solid rgba(0,0,0,.125);
}
@media screen and (max-width : 567px){
    .col-xl-3 , .col-lg-3 , .col-md-4 , .col-sm-4 , .col-6 {
        margin: 0;
        padding: 0;
    }
}
